/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 2.5%;
  padding: 0;
  background-color: wheat;
  font-family: "superMario";
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "superMario";
  src: url(../fonts/superMarioFont.ttf) format("truetype");

}
.container {
  margin-top:2%;
  max-width: 1200px;

}
/* ---- Splash Screen ---- */
.splash-screen {
  margin: 0;
  padding:0;
  margin-top:5%;
}
#background {
  width:1100px;
  height: 700px;
  border-radius: 10%;
  border: 10px solid black;
}
#title {
  margin: 0;
  position: absolute;
  font-size: 700%;
  top: 35%;
  left: 35%;
  color: red;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
}
#title2 {
  margin: 0;
  position: absolute;
  font-size: 500%;
  top: 47.5%;
  left: 35%;
  color: green;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;

}
#start-button  {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 200%;
  border-radius: 25px;
  margin: 0;
  padding: 1%;
  padding-top:2%;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#instructions-button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 200%;
  border-radius: 25px;
  margin: 0;
  padding: 1%;
  padding-top:2%;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
/* ---- Game Screen ---- */
.game-screen {
  text-align: center;
}
#canvas {
  border-radius: 10%;
  border: 10px solid black;
  background-image: url("../images/gameScreen.png");
  -webkit-animation: slide 10s linear infinite;
}
@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -4000px 0; }
}
.spans {
  display: flex;
  justify-content: space-evenly;
}
#points {
  font-size: 100%;
}
#hearts img{
  width: 60px;
}
/* ---- Game Over Screen ---- */
.game-over-screen {
  text-align: center;
  margin-top: 5%;
}
.game-over-screen img {
  border: 10px solid black;
  border-radius: 10%;
  width: 1100px;
  height: 700px;
}
#restart-button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 200%;
  border-radius: 25px;
  margin: 0;
  padding: 1%;
  padding-top:2%;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#home-button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 200%;
  border-radius: 25px;
  margin: 0;
  padding: 1%;
  padding-top:2%;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* ---- Instructions Screen ---- */
.instructions-screen {
  background: lightcoral;
  text-align: center;
  margin-top: 5%;
  border: 10px solid black;
  border-radius: 10%;
  width: 1100px;
  height: 700px;
}
.instructions-screen h1 {
  font-size: 500%;
}
.instructions-screen li {
  list-style: none;
  font-size: 200%;
  line-height: 200%;
}
.instructions-screen button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 200%;
  border-radius: 25px;
  margin: 0;
  padding: 1%;
  padding-top:2%;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}