/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}


/* ---- Splash Screen ---- */
.splash-screen {
  text-align: center;
}
#background {
  width: 100%;
  height: 100%;
}
#title {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
}
.splash-screen button  {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---- Game Screen ---- */
.game-screen {
  text-align: center;
}
#canvas {
  background-image: url("../images/gameScreen.png");
  -webkit-animation: slide 10s linear infinite;
}
@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -5000px 0; }
}

/* ---- Game Over Screen ---- */
.game-over-screen {
  text-align: center;
}
.game-over-screen img {
  border: 1px solid white;
  width: 100%;
  height: 100%;
}
.game-over-screen button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}