/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  height: 80vh;
  margin: 0 2.5%;
  padding: 0;
  background-color: wheat;
  font-family: "superMario";
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "superMario";
  src: url(../fonts/SuperMario256.ttf) format("truetype");

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  text-align: center;
}
#copyright {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: 1rem;
}


/* ---- Splash Screen ---- */
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/gameScreen.png");
  margin: 0;
  padding:0;
  width:900px;
  height: 600px;
  border-radius: 10%;
  border: 10px solid black;
  text-align: center;
}
#title {
  margin: 0;
  font-size: 5rem;
  color: red;
  letter-spacing: 3px;
}
#title2 {
  margin: 0;
  font-size: 3.5rem;
  color: green;
  letter-spacing: 3px;

}
#start-button  {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 2rem;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1%;
}
#instructions-button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 2rem;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1%;
}
#highscore {
  color: black;
  font-size: 1rem;
  margin: 0;
}


/* ---- Game Screen ---- */
.game-screen {
  text-align: center;
  border-radius: 10%;
  border: 10px solid black;
  background-image: url("../images/gameScreen.png");
  -webkit-animation: slide 15s linear infinite;
}
.game-screen.level2 {
  background-image: url("../images/level2.jpg");
  -webkit-animation: slide 10s linear infinite;
}
.game-screen.level3 {
  -webkit-animation: slide 8s linear infinite;
  background-image: url("../images/level3.jpeg");
}
@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -4000px 0; }
}
#canvas {
  height: 100%;
  width: 100%;
}
.spans {
  display: flex;
  justify-content: space-evenly;
}
#points {
  font-size: .75rem;
}
#hearts img{
  width: 40px;
}
#level {
  font-size: .75rem;
}


/* ---- Game Over Screen ---- */
.game-over-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/gameScreen.png");
  text-align: center;
  border: 10px solid black;
  border-radius: 10%;
  width: 900px;
  height: 600px;
}
.game-over-screen h1 {
  font-size: 5rem;
}
#restart-button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 2rem;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1%;
}
#home-button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 2rem;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1%;
}


/* ---- Instructions Screen ---- */
.instructions-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: lightcoral;
  text-align: center;
  border: 10px solid black;
  border-radius: 10%;
  width: 900px;
  height: 600px;
}
.instructions-screen h1 {
  color: green;
  font-size: 3rem;
}
.instructions-screen li {
  list-style: none;
  font-size: 1rem;
  line-height: 2rem;
}
.instructions-screen button {
  font-family: "superMario";
  background-color: red;
  border: 5px solid black;
  font-size: 2rem;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1%;
}